* {
    margin: 0px;
    padding: 0px;
}

header {
    left: 0;
    top: 0;
    padding: 10px;
    /* border: 2px solid rgb(136, 119, 119); */
    background-color: #fff;
}

.dflex {
    justify-content: center;
    align-items: center;
}

.dflex div ul li a:hover {
    cursor: pointer;
    background-color: #e9b57d;
    text-decoration: underline;

}

.dflex div ul {
    padding-top: 5px;
    text-align: center;
}

.element {
    display: inline;

}

/* header nav {
    /* display: flex;
    width: 100%;
    flex-direction: row;
    padding: 3px; */
/* background: green; */
/* height: 90px; 
}

header nav div {
    /* width: 30%;
    padding: 30px 50px;
    font-weight: 900; */
/* background: rebeccapurple; 
margin-right: 2px;
}

header nav div a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
}


header nav ul {
    list-style: none;
    /* background: red; 
width: 80%;
padding: 30px 10px;
/* height: 85px; 
    display: flex;
    justify-content: flex-end;

}


header nav ul li {
    font-weight: 500;
    /* margin: 0 1px; 
}

header nav ul li a {
    text-decoration: none;
    border: 1px solid grey;
    background: gainsboro;
    border-radius: 5px;
    padding: 2px 3px;
}*/

.hero {
    /* margin-top: 150px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./img/banniere4.jpg);
    padding: 15% 30%;
    /* object-fit: cover; */
    background-size: cover;
    height: 400px;
    margin-bottom: 35px;
}

.hero h1 {
    width: 480px;
    font-size: 2.5em;
    color: #000000;
    background: rgb(223, 222, 234, 0.6);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

.hero input {
    /* margin-top: 25px; */
    color: blue;
    font-weight: 500;
    border: 1px solid grey;
    background: gainsboro;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    margin-top: -05px;
    text-transform: uppercase;
}

.hero input:hover {
    background: #e9b57d;
    transition: ease-out;
}

.menu {
    /* width: 100%; */
    background: rgb(228, 219, 236);
    padding: 10px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 2px 3px 4px black;
}

.menu .row {
    margin: 2px;
    padding: 3px;
    /* height: 700px; */
    width: 100%;
    /* background: red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.titre_menu {
    text-align: center;
    font-size: 2.1em;
}

.menu .row {
    margin: 2px;
    padding: 3px;
    /* height: 700px; */
    width: 100%;
    /* background: red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu .row div {
    width: 32%;
    /* height: 300px; */
    border: 2px solid black;
    margin: 3px;
}

.menu .row div img {
    width: 100%;
    margin-top: 5px;
    background-size: cover;
}


.apropos .row .image {
    width: 50%;
    height: 150px;
    background-image: url(./img/c4.jpg);
    background-size: cover;
}

.apropos {
    background: rgb(179, 170, 170);
    box-shadow: 2px 3px 4px black;
    /* opacity: 0.8; */
}

.apropos .row {
    padding: 10px;
    margin: 10px;
}

.apropos h2 {
    text-align: center;
    font-size: 2.1em;
}

.contact {
    border: 1px solid bisque;
    box-shadow: 2px 3px 4px black;
    margin-bottom: 10px;

}

.contact .row div {
    max-width: 80%;
    margin: 3px auto;
}

.contact .row form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 5px;
}

footer .row div {
    width: 100%;
    background: rgb(233, 226, 239);
    text-align: center;
    font-size: 15px;
    height: 25px;
    font-weight: 700;
    /* padding: 1px 0; */
}

@media(max-width: 441px) {
    /* .container {
        position: relative;
    } */

    header {
        position: relative;
    }

    header nav {
        width: 100%;
        display: none;
        flex-direction: row;
        align-content: center;
        margin: auto;
    }

    header nav div {
        display: flex;
    }

    header nav ul {}

    .hero h1 {
        margin: 0 2px;
        width: 100%;
    }

    header nav ul li {
        margin-left: 25px;
    }



    .menu {
        /* width: 100%; */
        background: rgb(228, 219, 236);
        padding: 10px;
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        box-shadow: 2px 3px 4px black;
    }

    .menu .row {
        margin: 2px;
        padding: 3px;
        /* height: 700px; */
        /* width: 100%; */
        /* background: red; */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .menu .row div {
        width: 100%;
    }

    .apropos {

        /* position: absolute; */
        background: rgb(179, 170, 170);
        box-shadow: 2px 3px 4px black;
        /* padding: 5px;
            margin: 15px; */
    }

    .apropos .row {
        padding: 10px;
        margin: 10px;
    }

    .apropos .row .image {
        width: 100%;
        object-fit: cover;
    }

    .contact .row {
        /* position: absolute; */
        padding: 1px;
        margin: 10px;
    }

    .contact h2 {
        text-align: center;
    }

    .contact .row div form {
        display: flex;
        flex-direction: column;
        margin: 5px;
    }

    .contact .row form label {
        margin: 2px 0;
    }

    footer .row {
        display: flex;
        flex-direction: column;
    }

    /* footer .row div {
        height: 150px;
        width: 100%;
        background: blueviolet;
    } */

    footer .row div {
        width: 100%;
        background: rgb(233, 226, 239);
        text-align: center;
        font-size: 15px;
        height: 100px;
        font-weight: 700;
        padding: 5px 0;
    }

}

@media(min-width:441px) and (max-width: 991px) {

    header .dflex {
        display: flex;
        flex-direction: row;
        /* border-radius: 0 0 10px 10px; */
    }

    header nav {
        width: 100%;
        padding-right: 10px;
    }

    .dflex {
        justify-content: center;
        align-items: center;
    }

    .dflex div ul li a:hover {
        cursor: pointer;
        background-color: #e9b57d;
        text-decoration: underline;
    }

    .dflex div ul {
        padding-top: 5px;
        text-align: center;
    }

    header nav ul li {
        margin-left: 25px;
    }

    header nav ul {
        margin: 0 15px;
    }

    .apropos {
        background: rgb(179, 170, 170);
        border-radius: 5px;
        box-shadow: 2px 3px 4px black;
        /* padding: 5px;
        margin: 15px; */
    }

    .apropos .row {
        padding: 10px;
        margin: 10px;
    }

    .apropos .row .image {
        width: 100%;
        object-fit: cover;
    }

    .contact {
        border: 1px solid bisque;
        box-shadow: 2px 3px 4px black;
        margin-bottom: 5px;
    }

    .contact .row {
        /* position: absolute; */
        padding: 1px;
        margin: 10px;
    }

    .contact h2 {
        text-align: center;
    }

    .contact .row form {
        display: flex;
        flex-direction: column;
        margin: 0 10px;
    }

    .contact .row form label {
        margin: 2px 0;
    }

    footer .row {
        display: flex;
        flex-direction: column;

    }

    footer .row div {
        width: 100%;
        background: rgb(233, 226, 239);
        text-align: center;
        font-size: 25px;
        font-weight: 700;
        height: 40px;
    }


}